# Ignore build files
cmake-build-debug/

# Ignore output folder content
output/*

# But keep the output folder itself
!output/

# Ignore IDE-specific files
.idea/
*.iml

# Ignore logs and temporary files
*.log
*.tmp

# Ignore compiled object files
*.o
*.obj
*.exe

# Ignore temporary system files
.DS_Store
Thumbs.db


build

.vscode/
nmap_output.xml